<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="SQLConnection" connectionString="server=.\SQLExpress;Initial Catalog=jjw;uid=sa;pwd=pass@word1;" />
        <add name="SQLConnection2" connectionString="server=.\SQLExpress;Initial Catalog=jjw;uid=sa;pwd=pass@word1;" />
    </connectionStrings>
</configuration>